body {
    background-color: #1D1615;
}

.top-space {
    height: 60px;
}

.center-space {
    height: 550px;
    background: linear-gradient(135deg, rgb(90,191,235) 5%, rgb(71,141,96) 90%);
}

.focus-space {
    max-width: 1200px;
    margin: -600px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.guru {
    margin: 0 auto;
    position: relative;
    filter: drop-shadow(50px 5px 30px #222);
}

.right-focus {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    justify-content: center;
}

.slogan {
    margin: 0 auto 30px;
    font-family: "Verdana Pro Black", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    font-size: clamp(1.4em, 4vw, 2.6em);
    color: white;
    text-shadow: 5px 5px 5px #222;
}

.logo {
    margin: 0 auto;
}


.guru-logo {
    width: 50vw;
    min-width: 330px;
    max-width: 600px;
    filter: drop-shadow(7px 7px 2px #222);
}

